@font-face {
    font-family: 'Babyblocks';
    src: url('../font/ChevyRay - Babyblocks.ttf') format('truetype');
}

html, body {
    font-family: 'Babyblocks', sans-serif;

    margin: 0;
    overflow: hidden;

    background-color: black;
    color: white;
}

body {
    --scale: 1;
}

h2 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.seed-picker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.3);

    transition: top 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.seed-picker-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seeds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.seed-picker__closed {
    top: 100vh;
}

.seed-button {
    flex: 1;
    text-decoration: none;
    border: none;
    background: none;
    background-color: transparent;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    max-width: 50vw;
    height: 40vh;

    &:focus, &.seed-button__focused {
        .seed-button-image {
            transform: scale(1.1);
        }

        .seed-button-description {
            display: initial;
        }
    }
}

.seed-button-description {
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px 20px;

    margin-top: 20px;

    pointer-events: none;

    font-size: 2vw;
    max-width: 30vw;
}

.seed-button-contents {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 30vw;
}

.seed-button-image {
    width: 30vw;
    height: 30vw;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    transition: transform 0.1s ease;
}

.night-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slideInAndOut {
    from {
        translate: -120vw 0;
    }
    to {
        translate: 120vw 0;
    }
}

.night-overlay {
    transform-origin: top;
    transform: scale(var(--scale));

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    z-index: 10;
}

.night-overlay__animated {
    animation: slideInAndOut 0.5s linear;
}